---
import Editor from "@components/Editor";
import NoteLayout from "@layouts/NoteLayout.astro";
import { fetcher } from "@lib/utils";

const { id } = Astro.params;
const res = await fetcher(
  `notes/${id}`,
  "GET",
  ""
);
---

<NoteLayout title="Note">
  {
    res?.data ? (
      <Editor client:only="react" data={res.data} style={res.style} />
    ) : (
      <p>No note found</p>
    )
  }
</NoteLayout>
