---
import ThemeRequestList from "@components/ThemeRequestLists";
import AppLayout from "@layouts/AppLayout.astro";
import Layout from "@layouts/Layout.astro";
import type { ThemeType } from "@lib/types";
import { getUser, admins, fetcher } from "@lib/utils";

/* Get session cookie */
const sessionCookie = Astro.cookies.get("session")?.value;
if (!sessionCookie) {
  return Astro.redirect("/signin");
}

/* Verify session cookie and get user */
const user = await getUser(sessionCookie);
if (!user || (user?.email && !admins.includes(user?.email))) {
  return Astro.redirect("/signin");
}

const res: { [key: string]: ThemeType } = await fetcher(
  "themes/requests",
  "GET",
  sessionCookie,
);
---

<Layout title="Add">
  <AppLayout>
    <main class="w-full grow flex flex-col px-4">
      <h1
        class="text-xl sm:text-3xl max-w-xl text-zinc-100 w-full font-semibold mt-10 mb-6"
      >
        Requested Themes
      </h1>
      <ThemeRequestList themes={res} client:idle />
    </main>
  </AppLayout>
</Layout>
