---
import Profile from "@components/Profile"
import { getUser, admins } from "@lib/utils"

/* Get session cookie */
const sessionCookie = Astro.cookies.get("session")?.value
if (!sessionCookie) {
  return Astro.redirect("/signin")
}

/* Verify session cookie and get user */
const user = await getUser(sessionCookie)
if (!user) {
  return Astro.redirect("/signin")
}
---

<nav class="fixed top-0 w-full bg-[#1b1b1d]">
  <div class="p-4 flex justify-between items-center max-w-4xl mx-auto">
    
    <a class="text-lg flex items-center gap-2 font-semibold text-transparent sm:text-zinc-100" href="/"
      >
      <img class="w-8 h-8" src="/favicon.svg" alt="Noted themes" />Noted themes</a
    >
    <div class="flex gap-3 items-center">
      <a
      class="flex gap-1 border-[#6488ea] hover:border-[#6488ea] text-white bg-[#6488ea] hover:bg-v[#6488ea] px-3 py-1 rounded-md font-medium hover:opacity-90"
        href="/request"
        ><span>Request</span><svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
      </a>
      {
        user?.email && admins.includes(user?.email) && (
          <a
            class="flex gap-1 border-[#6488ea] hover:border-[#6488ea] text-white bg-[#6488ea] hover:bg-v[#6488ea] px-3 py-1 rounded-md font-medium hover:opacity-90"
            href="/add"
          >
            <>
              <span>Add</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
            </>
          </a>
        )
      }
      <Profile client:idle />
    </div>
  </div>
</nav>

<div class="pt-14">
  <slot />
</div>
