@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #242b38;
  user-select: none;
}

.select-text-disable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.nav {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  user-select: none;
}

ul {
  margin: 0px !important;
}

.tab-motion {
  display: flex;
  min-width: 0px;
  overflow: hidden;
  justify-content: space-between;
}

.list-motion {
  list-style: none;
  margin-top: 1rem;
}

.glass {
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
}

#background {
  position: fixed;
  z-index: -1;
  filter: opacity(55%) blur(150px);
}
