<header
  class="sticky top-0 z-50 flex items-center justify-between px-3 py-2 bg-white/90"
>
  <div class="flex items-center flex-grow basis-0">
    <a
      href="/docs"
      class="text-2xl font-bold tracking-tight text-slate-900 flex items-center gap-2 no-underline"
    >
      <img class="w-8 h-8" src="/favicon.svg" alt="Noted themes" />Noted Docs
    </a>
  </div>
</header>
